/* _content/Web_App_MVC_L2/Views/Quotes/Index.cshtml.rz.scp.css */
.table-fixed[b-5ac561pf9d] {
    table-layout: fixed;
    width: 100%;
}

    .table-fixed th[b-5ac561pf9d], .table-fixed td[b-5ac561pf9d] {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 8px;
        text-align: left;
    }

.table-striped tbody tr:nth-child(odd)[b-5ac561pf9d] {
    background-color: #f9f9f9;
}

.table-striped tbody tr:nth-child(even)[b-5ac561pf9d] {
    background-color: #ffffff;
}
/* _content/Web_App_MVC_L2/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-guitxyisbn] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-guitxyisbn] {
  color: #0077cc;
}

.btn-primary[b-guitxyisbn] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-guitxyisbn], .nav-pills .show > .nav-link[b-guitxyisbn] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-guitxyisbn] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-guitxyisbn] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-guitxyisbn] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-guitxyisbn] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-guitxyisbn] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Web_App_MVC_L2/Views/ToDo/Index.cshtml.rz.scp.css */
.table-fixed[b-2uwbysk0al] {
    table-layout: fixed;
    width: 100%;
}

    .table-fixed th[b-2uwbysk0al], .table-fixed td[b-2uwbysk0al] {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
