.table-fixed {
    table-layout: fixed;
    width: 100%;
}

    .table-fixed th, .table-fixed td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 8px;
        text-align: left;
    }

.table-striped tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.table-striped tbody tr:nth-child(even) {
    background-color: #ffffff;
}
